.main-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.container{

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  width: 22vw;
  margin: 10px;
  box-shadow: 10px 10px 5px rgb(160, 155, 155);


}
.image{
width: 20vw;


}
.author-container{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
align-items: center;


}
.link{
 background-color: blue;
 color: white;
 padding: 5px;
 border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  
  .main-container{
    width: 100%;

  }
  .author-container h1{
  font-size: 20px;
  }
  .container{
    width: 40vw;

  }
  .image{
    width: 100%;
  }
  .author-container{


  }
  .link a{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  
  .main-container{
    width: 100%;

  }
  .author-container h1{
  font-size: 20px;
  }
  .container{
    width: 90vw;

  }
  .image{
    width: 100%;
  }
  .author-container{


  }
  .link a{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
 
  .main-container{
    width: 100%;

  }
  .author-container h1{
  font-size: 20px;
  }
  .container{
    width: 90vw;

  }
  .image{
    width: 100%;
  }
  .author-container{


  }
  .link a{
    font-size: 1rem;
  }
}
